body,
html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.textInputWrapper {
  display: flex;
  margin-bottom: 3.5%;
  margin-top: 3.5%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.input {
  width: 15%;
}
.button {
  width: 15%;
}
.elevation_container {
}
/* Extra small devices (phones) */
@media (max-width: 576px) {
  .textInputWrapper {
    flex-direction: column;
  }
  .input {
    margin-top: 20%;
  }
  /* Styles for extra small devices */
}

/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Styles for small devices */
}

/* Medium devices (desktops and laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for medium devices */
}

/* Large devices (large desktops and high-resolution screens) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for large devices */
}

/* Extra large devices (extra-large desktops and high-resolution screens) */
@media (min-width: 1201px) {
  /* Styles for extra large devices */
}
